@model IEnumerable<Warehouse_Manager.Models.Log>

@{
    ViewData["Title"] = "Logs";
}

<h1>Lista logów</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracownikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProduktId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Akcja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzasAkcji)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracownikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProduktId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Akcja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzasAkcji)
            </td>
        </tr>
}
    </tbody>
</table>
